.custom-select-location {
    width: 119px !important;
    min-width: 110px !important;
    background-color: #EEEEEE;
    border: none !important;
    color: black !important;
    margin-right: 20px !important;
    option {
      font-weight: 350;
    }
  }