.running-order-view-wrapper {
  flex: 1;
  padding: 28px;
  margin: 10px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  box-shadow: 0 0 5px 2px lightgrey;
  
  .courseHeading{
    font-size: 2.2em;
    font-weight: 700;
    color: #21927a;

  }
 
  }
    .pending-revision-wrapper{
      text-align: center;
      display: flex;
      width: 100%;
      div{
        width: 45%
      }
      .pending-revision-text{
        font-size: 2em;
        color: grey;
        margin-top: 15px !important;
        font-weight: 400;
        // width: 90%;

      }
      .pending-revision-number{
        // width: 90%;
        font-size: 2.5em;
        color: grey;
        font-weight: 500;
      }
    }
  .user-bank-details{
    
    .sub-heading{
      font-size: 1.2em;
      font-weight: 400;
      text-transform: capitalize;
      color: grey;
      .title-bank{
        font-size: 1.3em !important; 
        font-weight: 500;
        margin: 5px 0px  !important;
        color: #3a3a3a;
      }
    }
    .withdraw-amount{
      text-transform: capitalize;
      margin-top: 20px;
      p{
        font-weight: 700 !important;
        font-size: 1.8em;
        color: #51ab59;

      }
      .select-amount{
        width: 230px;
        height: 50px;
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: grey;
      }
      
    }
    .send-request{
      .request-bt{
        margin-top: 20px;
        padding: 8px 40px;
        background-color: #51ab59;
        color: white;
        border: 1px solid #51ab59;
        border-radius: 5px;
        font-size: 1.2em;
        box-shadow: 0 0 5px 2px lightgrey;

      }
    }






  }
  .view-order-details-wrapper{
    // display: flex;
    .user-name{
      width: 90%;
      margin-top: 10px;
      .user-img{
        height: 50px;
      }
      .name{
        font-size: 18px;
        font-weight: 500;
        color: black;
        text-transform: capitalize;
        margin-left: 20px;
      }
    }
    .user-detail-section{
      display: flex;
      .user-detail-left{
        
        margin-top: 20px !important;
      .detail-heading{
        padding-left: 0px !important;
        li{
          text-transform: capitalize;
          list-style-type: none;
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
    }
    .user-detail-right{
      margin-top: 20px !important;
      margin-left: 100px ;
      .detail-heading{
        padding-left: 0px !important;
        li{
          text-transform: capitalize;
          list-style-type: none;
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
    }
  }
}
  
.customer-recruitment{
  .heading{
    font-size: 1.5em;
    color: #21927a;
    font-weight: 600;
    text-transform: capitalize;
  }
}
.customer-recruitment-details{
  .user-detail-section{
    display: flex;
    .user-detail-left{
      
      margin-top: 20px !important;
    .detail-heading{
      padding-left: 0px !important;
      .description{
        height: 130px;
      }
      .reference{
        height: 130px;
      }
      .send-work{
        height: 40px;
      }
      li{
        text-transform: capitalize;
        list-style-type: none;
        margin-bottom: 15px;
        font-size: 16px;
        width: 180px
      }
    }
  }
  .user-detail-right{
    margin-top: 20px !important;
    margin-left: 0px ;
    width: 100%;
    .detail-heading{
      padding-left: 0px !important;
      .reference-img{
        height: 150px;
        margin: 5px;
      }
      li{
        text-transform: capitalize;
        list-style-type: none;
        margin-bottom: 15px;
        font-size: 16px;
      }
      .attach-file{
        background-color: white;
        color: black;
        border: 1px solid grey;
        padding: 3px 14px;
        border-radius: 5px;
        font-size: 14px; 
        cursor: pointer;

      }
      .file-input{
        display: none;
      }
      .text-area-message{
        width: 100%;
        resize: none;
        padding: 5px 10px;
        border: 1px solid lightgrey;
        border-radius: 5px;
      }
      .deliver-bt{
        position: absolute;
        right: 15px;
        padding: 8px 25px;
        font-size: 18px;
        border: 1px solid lightgrey;
        border-radius: 3px;
        color: white;
        background-color: #1dbf73;
      }
    }
  }
}
}
.chat-box-wrapper{
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 500px;
  margin-top: 200px;
  .header-section{
    background-color: #1dbf73;
    color: white;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.2em;
    font-weight: 500;
  }
  .message-container::-webkit-scrollbar{
    display: none;
  }
  .message-container{
    padding: 10px 10px;
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    
    .message-wrapper{
      .user-img{
        height: 30px;
        width: 30px;
      }
      .your-message{
        flex-direction: row-reverse;
        .time{
          text-align: right;
          margin-right: 15px;
          margin-bottom: 5px !important;
        }
        .message{
          margin-right: 15px;
          border-radius: 5px;
          border-top-left-radius: 5px !important;
          border-top-right-radius: 0px !important;
        }
      }
      .message-txt{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        .time{
          font-size: 10px;
          // display: block;
          margin-left: 10px;
          margin-bottom: 5px !important;
          color: lightgrey;
          
          
        }
        .message{
          font-size: 13px;
          margin-left: 10px;
          font-weight: 500;
          background-color: #efefef;
          padding: 3px 10px;
          border-radius: 5px;
          border-top-left-radius:0px;  
          // width: 80%;
        }
      }
    }  
  }
  .new-message-container{
    .input-chat{
      width: 75%;
      background-color: lightgrey;
      color: white;
      background-image: url('../../assets/smily.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: left;
      background-position-x: 10px;
      position: absolute;
      bottom: 10px;
      padding: 10px 15px;
      padding-left: 40px;
      border: none;
      margin-left: 10px;
      z-index: 9999;
      border-radius: 20px;
    }
    .input-file{
      width: 40px;
      height: 40px;
      background-color: lightgrey;
      position: absolute;
      bottom: 5px;
      left: 81%;
      border-radius: 50%;
      border: none;
      padding: 10px 15px;
      background-image: url('../../assets/files.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: left;
      background-position-x: 10px;
    }
    .button-send{
      width: 40px;
      height: 40px;
      background-color: lightgrey;
      position: absolute;
      bottom: 14px;
      left: 89%;
      border-radius: 50%;
      border: none;
      padding: 10px 15px;
      background-image: url('../../assets/paper-plane-512.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: left;
      background-position-x: 8px;
    }

  }


}