$secondary: #878787;
@import "../../../../assets//scss//constants";


.item {
  background-color: $secondary;
  color: #787878;
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 5px;
  &:hover {
    background-color: #373737 !important;
    cursor: pointer;
  }
  .icon {
    margin: 0px 5px;
    margin-right: 10px;
  }
  &.lecture-item {
    flex: 1;
   font-size: 0.9rem;

    &:hover {
      background-color: $secondary;
      cursor: pointer;
    }
    .icon {
      width: 30px !important;
      margin: 0px 5px;
      margin-right: 10px;
      img {
        height: 12px;
        margin-right: 2px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .duration {
  }
}

/* width */
