.enrolled-wrapper{
    display: flex;
    // margin-bottom: 20px;

    .enrolled-heading{
        font-size: 1.4em;
        font-weight: 500;
        margin-top: 5px !important;
    }

}
.list-wrapper{
    // margin-top: 10px5


    img{
        height: 60px;
        width: 60px;
        border-radius: 10px;

    }
    .list-items{
        display: flex;
        // margin-bottom: 15px;
        .name{
            font-size: 28px;
            font-weight: 500;
            // margin-top: 5px !important;
            margin-left: 10px;
            text-transform: capitalize;
            position: relative;
            top: -10px;
        }
        .course-name{
            margin-left: 10px;
            font-size: 20px;
            color: grey;
            font-weight: 500;
            text-transform: capitalize;
            position: relative;
            top: -15px;
            // margin-top: 5px;
        }
    }
}